* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
  }

  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 2rem;
  }

  .js-error {
    display: none;
    transition: all 2s;
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

  /* .js-login-container, .js-links-container {
    display: none;
  } */

  .test {
    border: 1px solid red;
  }

  .master-container {
    display: flex;
    flex-direction: column;
  }

  .links-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    border-top: 1px solid #808080;
    
  }

  
  .link-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    min-height: 50px;
    padding: 10px;
    border-bottom: 1px solid #808080
  }

  .link-row:first {
    border-top: 5px solid red;
    background-color: blue;
  }


  .link-row__button-row {
    display: flex;
    flex-direction: column;
  }

  .link-row__button {
    margin: 5px;
  }

  .favicon {
      margin: 10px;
  }

  .favicon img {
    max-width: 20px;
    height: auto;
  }

  .url-text {
    flex: 1 1 auto;
  }
  
  .navbar {
    font-size: 18px;
    background-color: rgb(92,184,92);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }

  .btn {
    width: 75px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .btn-primary {
    color: #fff;
    background-color: rgb(92,184,92);;
    border-color: rgb(92,184,92);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.url-text a {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}

.js-edit-add-container, .js-links-container, .js-login-container {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

  
  @media screen and (min-width: 768px) {

    .master-container {
      display: flex;
      flex-direction: row;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
    
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }

    .link-row__button-row {
      display: flex;
      flex-direction: row;
    }
  } /* END MEDIA QUERY */

  .login-container {
    
    background:rgba(58,63,68,0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width:450px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
  }

  /* Flexbox responsive form styles */
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  
  /* .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  } */

  
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: 1px solid #D5D5D5;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  
  .flex-inner li {
    width: 100px;
  }

  .button-row{    
    padding: 0 8px;
    justify-content: flex-end;  
  }